
.cultura{
	margin-top: -14px
}
.cultura p{
	 font-size: 1.1em;
}

.t-title{
	background: url(../images/fenge.png) no-repeat;
	height: 50px;
}
.t-title h2{
 width: 152px;
float: left;
line-height: 1em;
color: #fff;
padding-left: 64px;
}
.t-title p{
line-height:5.5em;
font-size: 1em
}
.banner{
	background: url(../images/about_banner.png) no-repeat 50% 50%;
	height: 300px;
	width: 100%;
	margin-top:46px
}
.ee{
	padding-top:46px;
	margin-left: 500px;
}
.banner ul>li{
    font-size: 1.5em;
    margin-right: 113px;
    float: left;
    color: #fff
}