.content{
  width: 980px;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
  overflow:hidden
}
.content span{
  font-size: 1.2em;
  line-height: 2em;

}
.content div{
  float: left;
  background: #fafafa;
  height: 195px;
  width: 235px;
  box-shadow:1px 1px 1px 2px #e5e8ec;
  margin:5px;
}
.content img{
  width: 78%;
height: 155px;
margin: 0 20px 0 20px;
}
.about{
  text-align: center;
  margin:20px auto 20px auto;
  width: 980px;
  padding-top: 10px;
}
.about h2{
  color:#3ab6ea;
  font-size: 30px;
  line-height: 1.5em;
}
.about li{
  float: left;
  width: 310px;
  margin-top: 20px
}
.about p{
  font-size: 1.1em;
  line-height: 5em;
}
.about img{
  margin-top: 20px;
  width:200px;
  height: 200px;
}
.about_img{
  width: 930px;
  height: 500px;
  margin: 0 auto;
}
.about_img li>h2{
  font-size: 1.1em;
  margin-top:20px;
  line-height: 2em
}
.about_img li>p{
  font-size: 1.1em;
  line-height: 2em
}


