.boxgrid{width:23px;height:auto;position:absolute;right:0;top: 12px;overflow:hidden;z-index:999;margin-top:100px;}
.boxgrid .cover{border:0;width:23px;height:282px;background-image:url(../images/qim1.png);}
.boxgrid .btn{float:left;width:23px;height:126px;}
.boxgrid .cover .cue{width:196px;padding-left:40px;padding-top:35px}
.boxgrid .cover .cue h2{font-family:"微软雅黑";font-size:18px;color:#076F9C;font-weight:100;height:30px;line-height:30px;margin-bottom:5px;}
.boxgrid .cover .cue ul{width:215px;overflow:hidden}
.box_tit{font-family:"微软雅黑";font-size:14px;color:#2BA2DB;text-decoration:none;float:left;line-height:50px;}
.boxgrid .cover .cue ul li.zc_xx{width:60px;}
.boxgrid .cover .cue ul li.zc_xx1 input{border:0;background:none;width:130px;}
.boxgrid .cover .cue ul li.zc_xx1{width:144px;padding-left:5px;}
.boxgrid .cover .cue ul li.zc_xx2{width:144px;padding-left:5px;height:30px;}
.boxgrid .cover .cue ul li{float:left;line-height:30px;margin-bottom:30px;font-family:"微软雅黑";font-size:12px;color:#4C4C4C;height:30px;}